<div class="cardcontainer-single">
    <div class="unitcard-single">
      <img class="card-image" src="<%=author.img%>" alt="">
      <div class="card-content">
          <h1><%=author.name%></h1>
          <h2><%=author.books%></h2>
          <h3><%=author.age%></h3>
          <h2><%=author.desc%></h2>
          <a href="/">Home</a>  
      </div>
    </div>
  </div>