<div class="container">
    <div class="headerwrapper">
       <div class="headerleft">
            <h1>New & Trending Books Now Avaialable Online</h1>
            <h3>Now at your finger tips</h3>
            <button>Explore Now</button>
       </div>
       <div class="headerright">
            <img class="headerimg" src="https://media.istockphoto.com/vectors/college-students-walking-to-class-at-university-building-happy-boy-vector-id1271367373?k=20&m=1271367373&s=612x612&w=0&h=JEqjsEjna3_xxGol2jCZGFLaKU7SgYCUm2GpjIT3f0U=" alt="">
       </div>
    </div>
  </div>
  <div class="container">
    <h2>Books</h2>
    <div class="cardcontainer">
      <%for(var i=0;i<books.length;i++){%>
      <div class="unitcard">
        <img class="card-image" src="<%=books[i].img%>" alt="">
        <div class="card-content">
            <h1><%=books[i].title%></h1>
            <h2><%=books[i].author%></h2>
            <h3><%=books[i].desc%></h3>
            <a href="/singlebook/<%=books[i]._id%>">View</a>
        </div>
      </div>
      <%}%>
    </div>
  </div>