<div class="cardcontainer">
    <div class="unitcard">
      <img class="card-image" src="<%=book.img%>" alt="">
      <div class="card-content">
          <h1><%=console.log({book})%></h1>
          <h2><%=book.author%></h2>
          <h3><%=book.desc%></h3>
          <a href="/singlebook/<%=book._id%>">View</a>
      </div>
    </div>
  </div>