<div class="cardcontainer-single">
    <div class="unitcard-single">
      <img class="card-image" src="<%=book.img%>" alt="">
      <div class="card-content">
          <h1><%=book.title%></h1>
          <h2><%=book.author%></h2>
          <h3><%=book.desc%></h3>
          <!-- <h4><%=book?.about%></h4>
           -->
           <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta fugit saepe laudantium culpa excepturi aut at mollitia illum velit accusamus! Odit optio quis vel modi totam facere. Esse, commodi hic!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia veniam ratione officiis aut soluta nulla voluptates, dicta corrupti quisquam rerum, dolorem amet magni quas illum ex enim reprehenderit eaque cum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quam voluptatum sint non temporibus excepturi ipsam, placeat, dolor rem, saepe perspiciatis minima. Perferendis neque magnam odio fugit laborum quibusdam ratione!
           </h4>
          <a href="/">Home</a>
      </div>
    </div>
  </div>